@import "../base/variables";

.tile {
  &.is-parent {

  }

  &.box {
    border-radius: 0;
    background: $tile-background;
    color: $tile-color;
  }

  .tile {
    font-size: 15pt;
    font-weight: 500;

    &.is-main {
      padding: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }

      .title {
        background: $tile-main-title-background;
        color: rgba($tile-main-title-color, .8);
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20pt;
        transition: $transition-all;

        &:hover {
          color: rgba($tile-main-title-color, 1);
        }
      }
    }

    .center{
      text-align: center;
    }

    .emphasize {
      font-size: 59pt;
      padding-top: 10px;
      padding-bottom: 10px;
      color: $tile-emphasize-color;
      text-align: center;
    }

    .secondary-tile {
      text-align: left;

      .title {
        text-align: inherit;
        color: $tile-secondary-header-color;
      }
    }

    .icon-link {
      border-bottom: none;
      color: rgba($tile-emphasize-color, .8);
      transition: $transition-all;

      &:hover {
        color: rgba($tile-emphasize-color, 1);
      }

      .fa {
        width: 50px;
        height: 80px;
        font-size: 85px;
      }
    }
  }

  .icon-tile {
    * {
      width: 50px;
      height: 80px;
      font-size: 85px;
      text-align: center;
    }
    span {
      font-size: 50pt;
    }
  }

  .title {
    text-align: center;
    font-size: 16pt;
    font-weight: 600;
    color: $tile-title-color;
  }
}
