$color-outer-space: #2E3837;
$color-ironside-gray: #696962;
$color-blumine: #166779;
$color-casal: #2d5561;
$color-neptune: #7DB9B3;
$color-catskill-white: #E2F1F1;
$color-black-squeeze: #F1F9FA;

$color-forest-green: #1A9138;
$color-bay-of-many: #2E4290;
$color-kumera: #826F25;
$color-falu-red: #861419;

/* States */
$state-success: $color-forest-green;
$state-information: $color-bay-of-many;
$state-warning: $color-kumera;
$state-error: $color-falu-red;

/* Navbar */

$navbar-border-bottom: 4px solid $color-casal;

/* sidebar */

$sidebar-background: $color-casal;

$sidebar-icon-color: rgba($color-black-squeeze,.4);
$sidebar-icon-hover: $color-black-squeeze;
$sidebar-icon-active-background: $color-outer-space;
$sidebar-icon-active: $color-black-squeeze;


/* background */
$container-background-color: $color-black-squeeze;

/* font */

$font-user-name-size: 20px;
$font-user-name-color: $color-casal;

$font-user-role-size: 15px;
$font-user-role-color: $color-ironside-gray;
$font-user-role-weight: 300;

/* input */
$input-focus: $color-casal;
$input-border: rgba($color-ironside-gray, .8);

/* tiles */
$tile-background: $color-catskill-white;
$tile-color: $color-outer-space;
$tile-title-color: $color-casal;
$tile-emphasize-color:$color-casal;
$tile-secondary-header-color: $color-ironside-gray;
$tile-main-title-background: $color-casal;
$tile-main-title-color: $color-catskill-white;

/* pagination */
$pagination-button: rgba($color-ironside-gray, .6);
$pagination-hover: $color-casal;

/* table */
$table-icon-menu: rgba($color-ironside-gray,.8);
$table-icon-menu-active: rgba($color-ironside-gray,1);
$table-icon-status-inactive: rgba($color-casal, .2);
$table-icon-status-active: rgba($color-casal, 1);
$table-hover: rgba($color-neptune, .2);
$table-color:$color-casal;

/* transition */

$transition-all: all 250ms ease-in-out